span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 0.75rem;
  height: 0.75rem;
  @apply bg-primary;
}

.swiper-button-next,
.swiper-button-prev {
  @apply bg-primary px-5 rounded-full border border-black hover:bg-primary mx-2 md:mx-6;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  @apply text-white;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  @apply text-white font-bold;
  font-size: 14px !important;
}